*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

.border{
    border: 2px solid red ;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    /* background-color: rgb(235, 231, 231); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainContainer{
    width: 95%;
    height: 85vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    flex-direction: column;
}

.firstPart{
  height: 47%;
  width: 97%;
 
}

.secondPart{
    height: 47%;
    width: 97%;
    background-image: url(https://cdn.pixabay.com/photo/2017/10/16/10/33/forest-2856865_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    height: 50%;
    width: 30%;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.firstPart{
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.options{
    height: 15%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textPart{
    width: 50%;
    height: 75%;
    flex-direction: column;
    justify-content: space-evenly;
}