*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.border{
    border: 2px solid red;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txtNone{
    text-decoration: none;
    color: grey;
}

.active{
    color: black;
    text-decoration: underline;
    text-decoration-color: #1e3932;
}
.navbar{
    width: 100%;
    height: 7vh;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navOptions{
    width: 40%;
    justify-content: space-evenly;
    font-size: 1.4rem; 
    text-decoration: none;
}

.searchInput{
    width: 25%;
    justify-content: space-around;
}

.inputbar{
    border: 1px solid grey;
    width: 60%;
    height: 100%;
    border-radius: 2vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding-left: 2%;
}

.navSearch{
    border: none;
    width: 80%;
   font-size: 1rem;
   margin-left: 2%;
   outline: none;
}

.offers{
    width: 100%;
    height: 7vh;
    background-color: #1e3932;
    justify-content: space-around;

}

.text{
    color: white;
    font-size: x-large;
}
.knowMoreBtn{
    width: 7%;
    
}

.kmbtn{

    background-color: transparent;
    border-radius: 3vh;
    width: 100%;
    height: 3vh;
    color: white;
}
